#answer_text {
  position: absolute;
  left: 10px;
}

#board_widget {
  width: 100%
}

summary::-webkit-details-marker {
  display: none;
}

a:active{
 box-shadow:inset 0 0.6em70em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

.nav-button {
  float: left;
}

.button {
  width: fit-content;
  vertical-align: top;
  padding :0.4em 1.0em;
  margin:0.1em 0.3em 0.3em 0;
  background-color: #8463b5;
  color:#FFFFFF;
  text-decoration:none;
  border-radius:0.2em;
  box-sizing: border-box;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  text-align:center;
  position: relative;
  font-family:'Roboto',sans-serif;
  font-weight:400;
}
